:host{
    display: grid;
    grid-template-columns: 112px 1fr;
    grid-gap:24px;
}
//дать название класса
img{
    width: 112px;
    height: 112px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.username-and-name{
    text-align: left;
}